//MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/wedding
MONGODB_URI=mongodb+srv://abhijithmgopi316_db_user:joeGuGkL2Gh2m83n@cluster0.xttxdrn.mongodb.net/?appName=Cluster0
ADMIN_KEY=abhijith-kelsey-2026
PORT=5000
